<router-outlet></router-outlet>
-----------------------
<app-ejercicio1></app-ejercicio1>
-----------------------
<app-ejercicio2></app-ejercicio2>
-----------------------
<app-ejercicio3></app-ejercicio3>
-----------------------
<app-ejercicio4></app-ejercicio4>
-----------------------
<app-ejercicio5></app-ejercicio5>
-----------------------
<app-ejercicio6></app-ejercicio6>
-----------------------
<app-ejercicio7></app-ejercicio7>
-----------------------
<app-ejercicio8></app-ejercicio8>
-----------------------
<app-ejercicio9></app-ejercicio9>
-----------------------
<app-ejercicio10></app-ejercicio10>
-----------------------
<app-ejercicio11></app-ejercicio11>
-----------------------
<app-ejercicio12></app-ejercicio12>
